---
title: "Home: "
relativePath: ""
---

<div class="hero">

    <div class="hero__cover">
        <object type="image/svg+xml" data="{{assets.images}}/hero-cover.svg" class="hero__svg">
            NASA Goddard Photo and Video
        </object>
    </div>

</div>
