<!doctype html>
<html class="transition-disabler"
    lang="en-US"
    data-frenchdip="Site">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content=" IE=edge">
    <meta id="HandheldFriendly" content="True">
    <meta id="MobileOptimized" content="320">
    <meta id="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}Goddard Space Flight Center</title>

    <link rel='stylesheet' href='vendor/normalize-css/normalize.css' />
    <link rel='stylesheet' href='vendor/pure/pure.css' />
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">

    <link href='assets/css/app.css' rel='stylesheet' type='text/css' >

    {{> favicon}}
</head>

<body>

    {{> nav}}

    <div class="content-wrapper pure-g">

        <div class="pure-u-1">
            {{> header}}
        </div>

        <div class="content pure-u-1">
            {{> body}}
        </div>

    </div>

    <script src="vendor/french-dip/french-dip.js"></script>
    <script src="vendor/ev-emitter/ev-emitter.js"></script>
    <script src="vendor/imagesloaded/imagesloaded.js"></script>
    <script src="assets/vendor/modernizr.custom.js"></script>

    <script src="assets/js/app.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
