
<header class="header">

    <h1>Goddard Space Flight Center</h1>

    <div class="nasa-branding">
        <div>
            <p>National Aeronautics and<br/>Space Administration</p>
        </div>
        <div>
            <img src="assets/images/logos/nasa.svg"/>
        </div>
    </div>
</header>
