
<nav class="nav" data-frenchdip="Nav">
    
    <ul class="nav__menu pure-menu-menu">
        
        <li class="nav__item nav__item--home pure-menu-item">
            <a class="nav__link pure-menu-link"
                id="nav-home"
                href="/"
                title="Home">Home</a>
        </li>

        <li class="nav__item nav__item--tags pure-menu-item">
            <a class="nav__link pure-menu-link"
                id="nav-tags"
                href="/tags.html"
                title="Browse by popular tags">
                Tags</a>
        </li>
    </ul>
</nav>
